.cajas {
    box-sizing: border-box;

    background-color: #e4ebf0;

    width: 100%;

    padding: 2%;
    font-family: var(--montserrat);
}

.cajas .cajas__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cajas__contenedor {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e4ebf0;
    justify-content: space-between;
    border-radius: 10px;
}

.cajas__item {
    margin: 10px .5rem;
    width: 39%;
    padding-top: 20%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-radius: 10px;

    box-shadow: 10px 10px 22px -8px rgba(0, 0, 0, 0.68);
}

.cajas__item img {
    width: 30px;
    height: auto;
    padding-bottom: 1rem;
}

.cajas__item .videojuegos {
    width: 50px;
    height: auto;
}

.cajas__item .libros {
    width: 45px;
    height: auto;
}

.cajas__item .f1 {
    width: 60px;
    height: auto;
}

.cajas__item .mesa {
    width: 30px;
    height: auto;
}

.cajas__item .computadora {
    width: 40px;
    height: auto;
}

@media screen and (min-width:426px) {

    .cajas__contenedor{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .cajas__item{
        margin: 5px;
        width: 150px;
        padding-top: 30px;
    }
}

@media screen and (min-width: 769px){

    .cajas{
        padding-bottom: 4rem;
    }

    .cajas__contenedor{
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .cajas__item{
        padding-top: 30px;
    }
}