.contacto {
    width: 100%;
    height: fit-content;

    background-color: #8ab3cf;

    box-sizing: border-box;

    padding: 1rem;
    font-family: var(--montserrat);
}

.contacto__titulo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contacto__parrafo {
    text-align: justify;
    margin-bottom: 1rem;
}

.contacto__formulario input {
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    border-radius: 5px;
    outline-color: #001C30;
    border: none;
}

.contacto__formulario textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    outline-color: #001C30;
    border: none;
}

.contacto__formulario button:hover {
    background-color: #4180ab;
    color: #DAFFFB;
}

.contacto__formulario button {
    margin-top: .8rem;
    border: 1px solid #176B87;
    color: #DAFFFB;
    background-color: #176B87;
    padding: 7px;
    font-size: small;
}

.contacto__formulario-google {
    width: 100%;
    height: 1300px;
}

@media screen and (min-width: 426px) {
    .contacto__formulario-google {
        width: 100%;
        height: 1150px;
    }
}

@media screen and (min-width: 769px) {
    .contacto {
        display: flex;
        justify-content: center;
    }

    .contacto__interior {
        width: 60%;
    }
}