.experiencia {
    width: 100%;

    box-sizing: border-box;

    padding: 1rem;
    background: #ffffff;
    font-family: var(--montserrat);
}

.experiencia h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.experiencia__contenedor-items {
    margin-bottom: 1rem;
}

.experiencia__contenedor-items p {
    margin-bottom: 1rem;
}

.imagen__experiencia {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px #001C30 solid;
}

.experiencia__botones {
    margin-bottom: 50px;
}

.experiencia__boton-vacio {
    border: 1px solid #176B87;
    color: #176B87;
    background-color: transparent;
    padding: 7px;
    font-size: small;
}

.experiencia__boton-vacio:hover {
    background-color: blueviolet;
}

.experiencia__boton-lleno {
    border: 1px solid #176B87;
    color: #DAFFFB;
    background-color: #176B87;
    padding: 7px;
    font-size: small;
}

@media screen and (min-width: 769px) {
    .imagen__experiencia {
        width: 80%;
    }

    .experiencia__contenedor {
        display: flex;
    }

    .experiencia__contenedor-items{
        text-align: center;
    }

}