footer{
    padding: 2rem;

    width: 100%;

    box-sizing: border-box;

    text-align: center;

    background: #4180ab;
    font-family: var(--montserrat);
    font-weight: bold;

    color: #fdd86e;
}