.header {

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid black;
    background: #acf0e2;


}

.header__titulo-contenedor{
    text-align: center;
}

.header__titulo {
    font-size: 2rem;
}

.header__logo {
    width: 80px;
    height: auto;
}

.header__navegacion {
    text-align: center;
    margin-top: 1rem;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__enlace {
    width: auto;
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;

   
}

@media screen and (min-width: 426px){

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .header__titulo{
        font-size: 1rem;
    }

    .header__logo{
        width: 40px;
        height: auto;
    }

    .header__links{
        justify-content: space-around;
    }

    .header__enlace{
        width: auto;
        font-size: .7rem;
        margin: 0;
        padding: 6px;
        margin: 0 2px;
    }
    
}

@media screen and (min-width: 769px){
    .header__enlace{
        width: 80px;
        padding: .4rem;
        font-size: 1rem;
    }
}