.presentacion {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    text-align: center;
    background: #d9ffff;
}

.presentacion__inicial p {
    text-align: left;
}

.presentacion__inicial {
    text-align: center;
}

.presentacion__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.presentacion__medio {
    font-weight: normal;
    margin-bottom: 1rem;
}

.presentacion__enlaces {
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion__enlace-box {
    margin-bottom: 1rem;       
}

.presentacion__imagen {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 13px 16px 35px -9px rgba(0, 0, 0, 0.73);
}


@media screen and (min-width:426px) {
    .presentacion__enlaces {
        flex-direction: row;
        justify-content: space-around;
    }

    .presentacion__enlace-box {
        width: 25%;
    }
}

@media screen and (min-width: 769px) {
    .presentacion__contenedor-boton-imagen {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .presentacion__imagen {
        order: -1;
    }

    .presentacion__enlaces {
        flex-direction: row;
        margin-top: 2rem;
    }

    .presentacion__enlace-box {
        width: 140px;
        height: 15px;
        justify-content: center;
        margin: 0 1rem;
        font-size: 1.3rem;
    }

    .presentacion__titulo {
        font-size: 2rem;
    }
}