.presentacion {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    text-align: center;
    background: #ffffff;
    font-family: var(--montserrat);
}

.presentacion__contenedor-targeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion__titulo {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

.presentacion__medio {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 2rem;
}

.presentacion__imagen {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
    order: 1;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}



@media screen and (min-width:426px) {
    .presentacion__contenedor-targeta {
        flex-direction: row;
        justify-content: space-around;
        background: #ffffff;
        border-radius: 10px;
        padding: 1rem;
    }

    .presentacion__imagen {
        order: 0;
    }

    .presentacion__rigth {
        width: 25rem
    }

}

@media screen and (min-width:426px){
    .presentacion__contenedor-targeta{
        padding: 1rem 0;
    }
}