.sobreMi {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sobreMi_texto {
    text-align: justify;
}

.sobreMi_texto h1 {
    text-align: center;
}

.sobreMi_texto h1, .sobreMi_texto p {
    margin-bottom: 1rem;
}

.sobreMi_titulo {
    font-size: 2rem;
    font-weight: bold;
}

.sobreMi_firma{
    width: 150px;
    height: auto;
}